<header class="page-header">
  <div class="page-header__top-wrapper">
    <div class="page-header__top">
      <div class="page-header__top-logo">Сп-метиз
        <div class="page-header__top-logo-sub">производство и продажа <br> металлической сетки</div>
      </div>
      <div class="page-header__top-contacts">
        <div class="page-header__top-contacts-mail"><img src="img/mail.svg" alt="почта">
          <div class="page-header__top-contacts-mail-bunch"><a href="mailto:info@sp-metiz.ru">info@sp-metiz.ru</a><a href="mailto:setka-msk@yandex.ru">setka-msk@yandex.ru</a></div>
        </div>
        <div class="page-header__top-contacts-tel"><img src="img/phone.svg" alt="телефон">
          <div class="page-header__top-contacts-tel-bunch"><a href="tel:+74993431291">+7 (499) 343-12-91</a>
            <a href="tel:+74994089796">+7 (499) 408-97-96</a></div>
        </div>
        <div class="page-header__top-contacts-address"><img src="img/home.svg" alt="контакты">МО го.Подольск, мкр.Климовск, <br>Бережковский проезд д.4
        </div>
      </div>
    </div>
  </div>
  <div class="page-header__bottom-wrapper">
    <div class="page-header__bottom">
      <nav class="main-nav main-nav--closed">
        <button class="main-nav__toggle" type="button">Открыть меню</button>
        <ul class="main-nav__list">
          <li class="main-nav__list-item"><a href="#" onclick="$( '#section-1').animatescroll();">Продукция</a></li>
          <li class="main-nav__list-item"><a href="#" onclick="$( '#section-2').animatescroll();">Цены и прайс</a></li>
          <li class="main-nav__list-item"><a href="#" onclick="$( '#section-3').animatescroll();">О компании</a></li>
          <li class="main-nav__list-item"><a href="#" onclick="$( '#section-4').animatescroll();">Применение в строительстве</a></li>
          <li class="main-nav__list-item"><a href="#" onclick="$( '#section-5').animatescroll();">Контакты</a></li>
          <li class="main-nav__list-item"><a href="#" onclick="$( '#section-6').animatescroll();">Доставка</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>