.slider {
  @extend %container;
  &__main {
    &-item {
      position: relative;
      img{
        filter: blur(3px);
      }
      &-text {
        position: absolute;
        margin: 0;
        padding: 0;
        font-size: 35px;
        color: #fff;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .slider__main.owl-theme.owl-carousel .owl-dots{
    position: absolute;
    margin-top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    button.owl-dot{
      background-color: transparent;
      span{
        width: 15px;
        height: 15px;
      }
      &.active{
        span{
          background-color: #5876A0;
        }
      }
    }
  }
}